.widget-timeline-date-header {
  display: inline-block;
  width: 110px;
  overflow-wrap: break-word;
  padding: 8px;
  text-align: center;
  border: 1px solid #dadcde;
  border-radius: 30px;
}

.widget-timeline-events-wrapper {
  display: flex;
  flex: 1;
  margin-left: 55px;
  padding-top: 35px;
}
.widget-timeline-events-wrapper ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.widget-timeline-title {
  color: #0a1325;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.widget-timeline-description {
  color: #6c717c;
}

.widget-timeline-event {
  position: relative;
  margin-left: 9px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.widget-timeline-event:not(:last-of-type) {
  border-left: 1px solid #dadcde;
}
.widget-timeline-event.clickable {
  cursor: pointer;
  transition: background 0.8s;
}
.widget-timeline-event.clickable:hover .widget-timeline-title {
  color: #dadcde;
}

.widget-timeline-icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  transform: translateX(-50%);
}
.widget-timeline-icon-wrapper .glyphicon {
  font-size: 18px;
}
.widget-timeline-icon-wrapper img {
  max-width: 18px;
  max-height: 18px;
}

.widget-timeline-content-wrapper .widget-timeline-date-time-wrapper {
  margin-right: 15px;
}
.widget-timeline-content-wrapper .widget-timeline-info-wrapper {
  flex-direction: column;
}

.widget-timeline-icon-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #264ae5;
}

.widget-timeline-no-divider {
  padding-bottom: 0;
  padding-top: 0;
  margin-left: 0;
}

.widget-timeline-flex-container {
  display: flex;
}